//- Dashboard page functional created by Jessica Jing
//- Re-design by Gina Sun, using bootstrap and html
extends layout

head
    meta(charset='utf-8')  
    meta(name='viewport', content='width=device-width, initial-scale=1') 
    block style
      //- The page style which holds codes that we use in dashboard page
      link(rel='stylesheet', href='/stylesheets/dashboard.css') 

block content
  //- left sidebar
  .container-fluid
    .row.flex-nowrap
      .col-auto.col-xl-2.px-sm-2.px-0.bg-dark
        .left-sidebar-area.d-flex.flex-column.align-items-center.align-items-sm-start.px-3.pt-2.text-white
          //- User profile
          a.d-flex.align-items-center.pb-3.mb-md-0.me-md-auto.text-white.text-decoration-none.admin_name(href='editProfile?id=#{user.id}')
            img.rounded-circle(src='https://github.com/mdo.png', alt='hugenerd', width='30', height='30') 
            div.username.d-none.d-sm-inline #{user.name}       
          //- left side bar item
          ul.left-sidebar-item.nav.nav-pills.flex-column.align-items-center.align-items-sm-start
            //- Your design: store image create by user
            li.other-folder.nav-item
              .align-middle.px-0
                a(href='/foldermanager/get/#{defaultFolder.id}')
                  //- i.bx.bx-folder
                  img(src='https://img.icons8.com/small/20/ffffff/folder-invoices--v1.png')
                  span.links_name.ms-1.d-none.d-sm-inline #{defaultFolder.folderName}
            //- Favorite folder which is a future implementation for our project               
            li
              .px-0.align-middle
                img(src='https://img.icons8.com/material-outlined/20/ffffff/filled-like.png')
                span.links_name.ms-1.d-none.d-sm-inline Favorite
            //- Add folder tool                 
            li
              .px-0.align-middle
                img(src='https://img.icons8.com/material-outlined/20/ffffff/add-folder--v1.png')                            
                span.ms-1.d-none.d-sm-inline(class="add-folder" type='button' onclick='toggleMe()') Add New Folder
                //- Add folder input and button
                ul.nav.nav-pills.flex-column.align-items-center.align-items-sm-start
                  li#popup
                    input(type='text', id='new_folder_name')
                    button(onclick='saveFolder(document.getElementById("new_folder_name").value);toggleMe();') Save
                  each folder in folders
                      li.other-folder
                        a(href='/foldermanager/get/#{folder.id}')
                            img(src='https://img.icons8.com/small/20/ffffff/folder-invoices--v1.png')
                            span.links_name.ms-1.d-none.d-sm-inline #{folder.folderName}
          //- Log-out button
          ul.logout.nav.nav-pills.flex-column.mb-sm-auto.mb-0.align-items-center.align-items-sm-start
            li.nav-item
              div      
                  a(href="/logout")
                    img(src='https://img.icons8.com/material/20/ffffff/exit.png')
                    span.ms-1.d-none.d-sm-inline Log out

      //- Create design page contaction
      .col
        .container
          .row
            .new-design.col.text-center
              a(href='/whiteboard', title='Create New Desgin')
                img(src='https://img.icons8.com/external-becris-lineal-becris/344/4a90e2/external-add-mintab-for-ios-becris-lineal-becris.png')
                h3 Create a new design
          hr
          //- User own design view
          .image-design.row
            .col-md.py-3
              each image in images 
                  image(src=image.data, width=100, height=100)